
albumentations
cryptography
docker
imagecodecs
ipykernel
ipympl
ipywidgets
jupyter
matplotlib
notebook
numpy
nvidia-ml-py3
openmim
optuna
optuna-dashboard
pymysql
requests
scikit-image
scikit-learn
scipy
seaborn
tensorboard
timm
torch
torch-tb-profiler
torchdiffeq 
torchsummary
torchvision
tox
umap-learn
diffusers 
transformers 
accelerate 
safetensors
ood_detectors