albumentations
imagecodecs
ipykernel
ipympl
ipywidgets
jupyter
matplotlib
notebook
numpy
openmim
optuna
optuna-dashboard
pymysql
requests
scikit-image
scikit-learn
scipy
seaborn
tensorboard
timm
torch
torch-tb-profiler
torchdiffeq 
torchsummary
torchvision
tox
xformers